<div class="container">
<button class="btn btn-primary" id="ShowWeek">Show week</button>
<button class="btn btn-primary" id="ShowHumidity">Hide Humidity</button>
</div>
<div class="container">
{{#each stations}}
    <h1>{{name}}</h1>
    <label> Sensor label: {{label}} </label><br>
			<div id="day{{datasource}}">
				<h2>Day temperature</h2>
				<img  src="/picture/{{../prefix}}temp{{datasource}}.png" class="img-fluid"  alt="Temperatur">
			</div>
			<div id="hum{{datasource}}">
				<h2>Day humidity</h2>
				<img  src="/picture/{{../prefix}}hum{{datasource}}.png" class="img-fluid"  alt="Humidity">
			</div>
			
			<div id="week{{datasource}}">
				<h2>Week temperature</h2>
				<label> Sensor ID: {{label}} </label><br>
				<img  src="/picture/{{../prefix}}tempWeek{{datasource}}.png" class="img-fluid" alt="Temperatur">
				<div id="humWeek{{datasource}}">
					<h2>Week humidity</h2>
					<img  src="/picture/{{../prefix}}humWeek{{datasource}}.png" class="img-fluid" alt="Humidity">
				</div>
			</div>
			<br>
    {{/each}}
</div>
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script>
 $(document).ready(function() {
    console.log('ready');
  
    $.each($('#navbarNav').find('li'), function() {
        $(this).toggleClass('active',
            '/' + $(this).find('a').attr('href') == window.location.pathname);
    });
    
    {{#each stations}}
     $('#week{{datasource}}').toggle("slow");
    {{/each}}
    
    $('#ShowWeek').click(function(){
    	{{#each stations}}
        $('#week{{datasource}}').toggle("slow");
       {{/each}}
       //$('#ShowWeek').text('Hide week');
        
    }); 
    
    $('#ShowHumidity').click(function(){
    	{{#each stations}}
        $('#hum{{datasource}}').toggle("slow");
        $('#humWeek{{datasource}}').toggle("slow");
       {{/each}}
    //$('#ShowHumidity').text('Show Humidity');
       
   }); 
    
  });
</script>


