<div class="container-fluid">
<h1>Status</h1>
<p>{{osVersion}}</p>

<table class="table table-striped table-sm">
<caption>Clients</caption>
<thead>
    <tr>
      <th scope="col">Hostname</th>
      <th scope="col">Release</th>
      <th scope="col">Node</th>
      <th scope="col">Hardware</th>
      <th scope="col">Location</th>
      <th scope="col">Date</th>
    </tr>
</thead>
<tbody>
{{#each PiStations}}
    <tr>
        <td>{{hostname}}</td>
        <td>{{release}}</td>
        <td>{{node}}</td>
        <td>{{piHardwareVersion}}</td>
        <td>{{location}}</td>
        <td>{{pingDate}}</td>
    </tr>
{{/each}}
</tbody>
</table>
</div>	
{{#section 'jquery'}}
<script>
 $(document).ready(function() {
    $.each($('#navbarNav').find('li'), function() {
        $(this).toggleClass('active',
            '/' + $(this).find('a').attr('href') == window.location.pathname);
    }); 
  });
</script>
{{/section}}
